{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "> 1%", "IE 11", "not IE 10"]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "2"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [["@babel/preset-env"]]
    }
  }
}
